body {
    overflow-y: scroll;
    margin: 0;
    padding: 64px 0 0 0;
}

.navbar {
    padding: 0 !important;
    height: 64px;
}

.navbar-brand {
    margin-left: 5%;
}

#navbarContent {
    height: 100%;
}

.navbar-nav {
    height: 100%;
    margin-right: 50px;
}

.nav-item a {
    padding-top: 20px;
    margin: 0 5px;
    transition: .5s;
}

.nav-item:hover {
    background: #008080;
    transition: background .5s;
}

.nav-item a {
    transition: .3s;
}

.nav-item:hover a {
    color: whitesmoke !important;
    transition: color .3s;
}

.no-border {
    padding: inherit 0;
}

.cover {
    background: url(../img/cover.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover-main {
    padding: 150px 0 150px 0;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: whitesmoke;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 70% 94%, 49% 100%, 29% 94%, 0 94%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 70% 94%, 49% 100%, 29% 94%, 0 94%);
}

.text-highlight {
    text-align: center;
    padding: 50px 0px 50px 0px;
    color: #008080;
    font-weight: 300;
    font-size: 3rem;
}


/***** Trying to do some magic ( got it (: ) *****/

/* Removes the dot that usually floats on the left of <li> */
.custom-btn {
    list-style: none;
}

/* To modify the button scale properly the width, height and line-height must be the same
    font-size looks cool if you the width and divide by 2
    The margin between the buttons is set here too */
.custom-btn a {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    transition: color .5s;
    transition: background .7s;
}

.custom-btn a:hover {
    background: #1b2727;
    transition: background .7s;
}

.custom-btn .fb-icon:hover {
    color: #3b5998;
    transition: color .5s;
}

/***** Insta-icon is kinda special bcuz of the gradient *****/
/* First i had to position it on the center */
.insta-icon img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: opacity .5s;
}

/* Then make the second image hidden */
.insta-icon .insta-colored {
    opacity: 0;
}

/* This hides the instagram all black logo */
.insta-icon:hover .insta-b {
    opacity: 0;
    transition: opacity .5s;
}

/* And displays the colored one on hover */
.insta-icon:hover .insta-colored {
    opacity: 1;
    transition: opacity .5s;
}

/***** End of instagram icon bullshit *****/

.custom-btn .whatsapp-icon:hover {
    color: #33CC46;
}

/* The transition here will handle the mouse-leave on all lines */
.custom-btn a .custom-btn-line {
    position: absolute;
    transition: transform .5s;
}

/* Sets the horizontal lines */
.custom-btn a .custom-btn-line:nth-child(1),
.custom-btn a .custom-btn-line:nth-child(3) {
    width: 100%;
    height: 1px;
    background: #707070;
}

/* Sets the top line position
    the transform-origin here handles when it has to show up again
    that's the same for every other line
    it will always be the opposite from where it's going to hide/show on hover */
.custom-btn a .custom-btn-line:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

/* Scales down the span from the right to the left on hover
    the scaleX will make sure the arrow hides in the X-axis
    otherwise the line would become too thin to see while it hides */
.custom-btn a:hover .custom-btn-line:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

/* Sets the bottom line position */
.custom-btn a .custom-btn-line:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

/* Scales down the span from the left to the right on hover */
.custom-btn a:hover .custom-btn-line:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

/* Sets the vertical lines */
.custom-btn a .custom-btn-line:nth-child(2),
.custom-btn a .custom-btn-line:nth-child(4) {
    width: 1px;
    height: 100%;
    background: #707070;
}

/* Sets the left line position and hides it for now */
.custom-btn a .custom-btn-line:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

/* Show/Scales up the line from the top to the bottom */
.custom-btn a:hover .custom-btn-line:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s;
}

/* Sets the right line position and hides it for now */
.custom-btn a .custom-btn-line:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}

/* Show/Scales up the line from the bottom to the top */
.custom-btn a:hover .custom-btn-line:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}

/***** End of Custom Button CSS *****/

/***** Second custom btn for text content *****/

/* Removes the dot that usually floats on the left of <li> */
.custom-btn-long {
    list-style: none;
    margin: 5px 0;
}

.custom-btn-long a {
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    transition: color .5s;
    transition: background .7s;
}

.custom-btn-long a:hover {
    background: #1b2727;
    transition: background .7s;
}

/* The transition here will handle the mouse-leave on all lines */
.custom-btn-long a .custom-btn-line {
    position: absolute;
    transition: transform .5s;
}

/* Sets the horizontal lines */
.custom-btn-long a .custom-btn-line:nth-child(1),
.custom-btn-long a .custom-btn-line:nth-child(3) {
    width: 100%;
    height: 1px;
    background: #707070;
}

/* Sets the top line position
    the transform-origin here handles when it has to show up again
    that's the same for every other line
    it will always be the opposite from where it's going to hide/show on hover */
.custom-btn-long a .custom-btn-line:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

/* Scales down the span from the right to the left on hover
    the scaleX will make sure the arrow hides in the X-axis
    otherwise the line would become too thin to see while it hides */
.custom-btn-long a:hover .custom-btn-line:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

/* Sets the bottom line position */
.custom-btn-long a .custom-btn-line:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

/* Scales down the span from the left to the right on hover */
.custom-btn-long a:hover .custom-btn-line:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

/* Sets the vertical lines */
.custom-btn-long a .custom-btn-line:nth-child(2),
.custom-btn-long a .custom-btn-line:nth-child(4) {
    width: 1px;
    height: 100%;
    background: #707070;
}

/* Sets the left line position and hides it for now */
.custom-btn-long a .custom-btn-line:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

/* Show/Scales up the line from the top to the bottom */
.custom-btn-long a:hover .custom-btn-line:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s;
}

/* Sets the right line position and hides it for now */
.custom-btn-long a .custom-btn-line:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}

/* Show/Scales up the line from the bottom to the top */
.custom-btn-long a:hover .custom-btn-line:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}

/***** End of Custom Button for text CSS *****/